form {
  margin-top: 100px !important;
  padding: 10px;

  mat-form-field {
    width: 300px;
  }

  mat-icon {
    color: grey;
  }

  input {
    padding-left: 6px;
  }
}
.error-msg {
  color: #f44336;
}
.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-top: 10px;
  left: -20px;
}
