<div class="container">
    <form [formGroup]="standardForm" (ngSubmit)="onSubmit()">
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Standard : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <mat-select formControlName="standardId" (selectionChange)="getSubjects($event.value)">
                        <mat-option *ngFor="let s of standards" [value]="s.id"
                            [innerHTML]="s.name">
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="subjects">
            <span *ngIf="subjects.allowSubjectSelection">
                <div class="wrapper" *ngFor="let subject of subjects.data">
                    <div fxFlex="50" class="label">
                        <mat-label>{{subject.name}} : </mat-label>
                    </div>
                    <div fxFlex="50" class="input">
                        <mat-slide-toggle
                            color="primary"
                            (change)="checkSubject($event, subject)"
                            [formGroupName]="'subjects'"
                            [checked]="checkUserSubject(subject)">
                            {{subject.name}}
                        </mat-slide-toggle>
                    </div>
                </div>
            </span>
        </div>



        <!-- <div class="subject-list" *ngIf="allSubject">
            <mat-form-field style="width: 100% !important;" appearance="standard"> 
            <span *ngIf="allSubject.allowSubjectSelection">
                <p *ngFor="let subject of allSubject.data">
                    <mat-slide-toggle
                        color="primary"
                        (change)="checkSubject($event, subject)"
                        [formGroupName]="'subjects'">
                        {{subject.name}}
                    </mat-slide-toggle>
                </p>
            </span>
            <span *ngIf="!allSubject.allowSubjectSelection">
                <p *ngFor="let subject of allSubject.data">
                    <mat-slide-toggle
                        color="primary"
                        onload="printvalue()"
                        [formGroupName]="'subjects'"
                        [checked]="true"
                        [disabled]="true">
                        {{subject.name}}
                    </mat-slide-toggle>
                </p>
            </span>
             </mat-form-field> 
        </div> -->
        <button
            mat-raised-button
            color="primary">
            Update
        </button>
    </form>
</div>
