.filter-div{
    width: 100%;
    height: 80px;
    display: inline-block;
    padding: 5px 0;
    border-radius: 20px 20px 0 0;
    background-color: rgba(162, 214, 249, 0.1);
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 10%),
                0px 8px 10px 1px rgb(0 0 0 / 7%),
                0px 3px 14px 2px rgb(0 0 0 / 6%);
    
     .filter-input {
       margin-left: 20px; 
       float: left;
       max-width: 300px;
     }
    }
    
    .container{
      width: 95%;
      margin: 50px auto 100px auto;
      table {
          width: 100%;
        }
        .mat-form-field {
          font-size: 14px;
          width: 100%;
        }
        
        td, th {
          width: 20%;
          text-align: center;
        }

        .name-td{
          cursor: pointer;
          text-decoration: underline;
          text-decoration-color: grey;
        }
        
    }
