<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="container">
  <div class="filter-div">
    <div>
      <mat-form-field appearance="standard" class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filterlist..." #input>
      </mat-form-field>
    </div>
    <div class="filter-input">
      <mat-form-field appearance="standard">
        <mat-label>Standard</mat-label>
        <mat-select (selectionChange)="standardIdFilter($event.value)">
          <mat-option value="">- - -</mat-option>
          <mat-option *ngFor="let s of standards" [value]="s.id" [innerHtml]="s.name"></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-input">
      <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select (selectionChange)="isActiveFilter($event.value)">
          <mat-option value="">- - -</mat-option>
          <mat-option value="1">True</mat-option>
          <mat-option value="0">False</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="add-icon">
      <button mat-flat-button color="primary" (click)="setFilter()">
        Apply <i class="fas fa-filter"></i>
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        
        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td class="name-td" [routerLink]="[element.userId]" mat-cell *matCellDef="let element">
             {{element.firstName}} {{element.middleName}} 
            </td>
        </ng-container>
        
        <!-- Position Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="standardName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard </th>
          <td mat-cell *matCellDef="let element"> {{element.standardName}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrolled On </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="isVerified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Verified </th>
          <td mat-cell *matCellDef="let element">
            <i class="fas fa-md" [ngClass]="element.isVerified ? 'fa-check
              text-success': 'fa-times text-danger'"></i>
          </td>
        </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      <mat-paginator [length]="count" 
                     [pageSizeOptions]="pageSizeOptions" 
                     [pageSize]="userPerPage"
                     (page)="onChangedPage($event)"
                     showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
