<div class="header">
    <h1 class="mat-subheading-2">Edit Subject</h1>
    <mat-icon (click)="closeDialog()">close</mat-icon>
</div>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="container">
    <form [formGroup]="editNoticeForm" *ngIf="data.notice" class="pt-35" (ngSubmit)="onSubmit()">
        <div class="wrapper">
            <div fxFlex="25" class="label">
                <mat-label>Content : </mat-label>
            </div>
            <div fxFlex="75" class="input">
                <mat-form-field appearance="standard">
                    <textarea rows="5"  matInput formControlName="content"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper pt-20">
            <div fxFlex="25" class="label">
                <mat-label>Active Status : </mat-label>
            </div>
            <div fxFlex="75">
                <mat-slide-toggle formControlName="isActive" color="primary" class="side-toggle">
                </mat-slide-toggle>
            </div>
        </div>

        <button type="submit" mat-flat-button color="accent" *ngIf="!isLoading">
        {{this.data.mode === 'edit' ? 'Update' : 'Add'}}
    </button>
    </form>
</div>
