<div class="header">
  <h1 class="mat-subheading-2">Edit Standard</h1>
  <mat-icon (click)="closeDialog()">close</mat-icon>
</div>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="container">
  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Standard Detail</ng-template>
      <form [formGroup]="editForm" *ngIf="data.standard">
        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Name : </mat-label>
          </div>
          <div fxFlex="50" class="input">
            <mat-form-field appearance="standard">
              <input matInput formControlName="name">
            </mat-form-field>
          </div>
        </div>
        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Description : </mat-label>
          </div>
          <div fxFlex="50" class="input">
            <mat-form-field appearance="standard">
              <input matInput formControlName="description">
            </mat-form-field>
          </div>
        </div>
        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Rate : </mat-label>
          </div>
          <div fxFlex="50" class="input">
            <mat-form-field appearance="standard">
              <input type="number" matInput formControlName="rate">
            </mat-form-field>
          </div>
        </div>
        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Course : </mat-label>
          </div>
          <div fxFlex="50" class="input">
            <mat-form-field appearance="standard">
              <mat-select formControlName="courseId">
                <mat-option *ngFor="let c of course" [value]="c.id" [innerHTML]="c.name">
                  {{c.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Subject Selection : </mat-label>
          </div>
          <div fxFlex="50">
            <mat-slide-toggle formControlName="allowSubjectSelection" color="primary" class="side-toggle">
            </mat-slide-toggle>
          </div>
        </div>

        <div class="wrapper">
          <div fxFlex="50" class="label">
            <mat-label>Active Status : </mat-label>
          </div>
          <div fxFlex="00">
            <mat-slide-toggle formControlName="isActive" color="primary" class="side-toggle">
            </mat-slide-toggle>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Other Detail</ng-template>
      <form [formGroup]="editForm">
        <div *ngFor="let batches of t.controls; let i = index">
          <div [formGroup]="batches" align="center">
            <div class="wrapper">
              <div fxFlex="45" class="label">
                <mat-label>Batch {{i+1}}: </mat-label>
              </div>
              <div class="input">
                <mat-form-field appearance="standard">
                  <mat-select formControlName="batchId">
                    <mat-option *ngFor="let b of batch" [value]="b.id" [innerHTML]="b.name">
                      {{b.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <i class="far fa-trash-alt pl-5" (click)="removeBatch(i)"></i>
            </div>
          </div>
        </div>
        <button mat-flat-button (click)="addBatch()" color="primary">Add new batch</button>
      </form>
    </mat-step>
    <mat-step *ngIf="subjects">
      <ng-template matStepLabel>Packages Detail</ng-template>
      <p class="mat-subheading-2 p-50" *ngIf="!subjects.allowSubjectSelection" align="center">You cannot add Batches to
        this standard</p>
      <div *ngIf="subjects.allowSubjectSelection">
        <form [formGroup]="editForm">
          <div class="package-div" *ngFor="let standardRate of s.controls; let i = index">
            <div [formGroup]="standardRate" align="center">
              <div fxFlex="90" class="wrapper" style="height: 100px;">
                <div fxFlex="10" class="label">
                  <mat-label>Packages {{i+1}}: </mat-label>
                </div>
                <div fxFlex="85" class="input">
                  <mat-form-field class="chip-list" appearance="fill">
                    <mat-chip-list #standardRateList>
                      <span *ngIf="s.controls[i].value.subjects">
                        <mat-chip *ngFor="let subject of s.controls[i].value.subjects"
                          (removed)="removeSubject(subject, i)">
                          {{subject.subjectName}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                      </span>
                      <!-- Add [formControl]="id" if you get some error in input attributes -->
                      <input placeholder="Add Standard..." #standardInput [matAutocomplete]="auto"
                        [matChipInputFor]="standardRateList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="add($event, i)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, i)">
                      <mat-option *ngFor="let subject of filteredStandards | async" [value]="subject.id">
                        {{subject.name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <i class="far fa-trash-alt pl-5" (click)="removePackage(i)"></i>
              </div>
              <mat-form-field fxFlex="6" appearance="standard">
                <mat-label>rate</mat-label>
                <input matInput formControlName="rate">
              </mat-form-field>
            </div>

          </div>
          <button mat-flat-button (click)="addPackage()" color="primary">Add new Package</button>
        </form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Image Detail</ng-template>
      <div class="img-div" *ngIf="this.data.standard.image">
        <p class="m-0 mat-subheading-1" align="left">Current Image : </p>
        <img src="{{apiEndpoint + this.data.standard.image}}" style="width: 80%; border-radius: 15px">
      </div>
      <div class="img-div" *ngIf="imageURL" align="left">
        <p class="m-0 mat-subheading-1" align="left">New Image : </p>
        <img [src]="imageURL" style="width: 80%; border-radius: 15px">
      </div>
      <input hidden type="file" (change)="showPreview($event)" accept="image/*" #fileInput />
      <div class="button">
        <div class="button-1">
          <button mat-flat-button color="primary" (click)="fileInput.click()">Choose File</button>
        </div>
      </div>
      <button type="submit" mat-raised-button color="accent" [disabled]="!editForm.valid" (click)="onSubmit()">
        {{this.data.mode === 'edit' ? 'Update' : 'Add'}}
      </button>
    </mat-step>
  </mat-horizontal-stepper>

</div>