<!-- Loading Animation -->
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="container">

  <!-- Filter Division -->
  <div class="filter-div">
    <div>
      <mat-form-field appearance="standard" class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filterlist..." #input>
      </mat-form-field>
    </div>
  </div>

  <!-- Table -->
  <div class="mat-elevation-z8" *ngIf="!isLoading">

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="message-expanded mat-subheading-2">
              {{element.review}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="row" [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; reviewRead(expandedElement)"
          [ngClass]="{bgColor: !element.isRead}">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <!-- Paginator -->
    <!--<mat-paginator [length]="count" [pageSizeOptions]="pageSizeOptions" [pageSize]="reachUsPerPage"  (page)="onChangedPage($event)" showFirstLastButtons> </mat-paginator>-->
    <mat-paginator [length]="count"
                   [pageSize]="testimonialPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onChangedPage($event)">
    </mat-paginator>

  </div>
</div>
