<div class="container">
    <mat-spinner [diameter]="40" *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>First Name : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="firstName">
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Middle Name : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="middleName">
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Last Name : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="lastName">
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Student Number : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="studentPN">
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Parent Number : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="parentPN">
                </mat-form-field>
            </div>
        </div>
        <div class="wrapper">
            <div fxFlex="50" class="label">
                <mat-label>Address : </mat-label>
            </div>
            <div fxFlex="50" class="input">
                <mat-form-field appearance="standard">
                    <input matInput formControlName="address">
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="detailForm.hasError('whitespace')">Please enter valid data</div>
        <button *ngIf="!isSubmitting" mat-raised-button color="primary" [disabled]="detailForm.invalid">
            Update
        </button>
        <mat-spinner [diameter]="40" *ngIf="isSubmitting"></mat-spinner>
    </form>
</div>