<div class="header">
    <h1 class="mat-title">Edit Image</h1>
    <mat-icon (click)="closeDialog()">close</mat-icon>
</div>

<mat-divider></mat-divider>

<p class="mat-hint mt-20" align="center">Recommended image aspect ratio 4/3</p>
<div *ngIf="imageURL" class="img-div">
    <img [src]="imageURL" height="120" width="90">
</div>
<input hidden type="file" (change)="showPreview($event)" accept="image/*" #fileInput />
<div class="button">
    <div class="button-1">
        <button mat-raised-button color="accent" (click)="fileInput.click()">Choose File</button>
    </div>
    <div class="button-2">
        <button mat-raised-button color="primary" [disabled]="!imageURL" (click)="updateImage()">Upload</button>
    </div>
</div>