<mat-toolbar class="bgcolor-yellow-light bottom-shadow">
    <span *ngIf="!(isHandset$ | async)">
    <div class="plate plate4" onclick="this.classList.toggle('active')" (click)="toggleMenu()">
      <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
        <path class="line line1" d="M 50,35 H 30" />
        <path class="line line2" d="M 50,35 H 70" />
        <path class="line line3" d="M 50,50 H 30" />
        <path class="line line4" d="M 50,50 H 70" />
        <path class="line line5" d="M 50,65 H 30" />
        <path class="line line6" d="M 50,65 H 70" />
      </svg>
      <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
        <path class="line" d="M 34,32 L 66,68" />
        <path class="line" d="M 66,32 L 34,68" />
      </svg>
    </div>
  </span>

    <!--Mobile View Only-->
    <span *ngIf="(isHandset$ | async)">
    <div class="plate plate4" onclick="this.classList.toggle('active')" (click)="!drawer.toggle()">
      <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
        <path class="line line1" d="M 50,35 H 30" />
        <path class="line line2" d="M 50,35 H 70" />
        <path class="line line3" d="M 50,50 H 30" />
        <path class="line line4" d="M 50,50 H 70" />
        <path class="line line5" d="M 50,65 H 30" />
        <path class="line line6" d="M 50,65 H 70" />
      </svg>
      <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
        <path class="line" d="M 34,32 L 66,68" />
        <path class="line" d="M 66,32 L 34,68" />
      </svg>
    </div>
  </span>
    <img class="logo-img" src="./assets/logo_notext.jpg" />
    <span class="title color-not-so-black">Sharp Tutorials</span>
    <span class="usr-ctrl" mat-flat-button>
  Admin  <i [matMenuTriggerFor]="menu" class="far fa-user-circle fa-lg"></i>
</span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="userIsAuthenticated" (click)="logout()">
      Logout
    </button>
    </mat-menu>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav disableClose #drawer class="sidenav bgcolor-blue-light" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" id="sidenav"
        [ngClass]="{'menu-open' : isMenuOpen, 'menu-close' : !isMenuOpen}">
        <mat-nav-list>
            <mat-list-item [routerLink]="['/subject']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
                <i class="fas fa-swatchbook m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">Subject</span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/standard']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
                <i class="fas fa-list-ul  m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">Standard</span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/course']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
                <i class="fas fa-layer-group  m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">Course</span>
            </mat-list-item>

            <mat-list-item [routerLink]="['/user']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: false}" role="main">
                <i class="fas fa-user-tie  m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">Users</span>
            </mat-list-item>

            <mat-list-item [routerLink]="['/otp']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
                <i class="fas fa-asterisk  m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">OTP</span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/result']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
                <i class="fas fa-poll  m-10 fa-md color-not-so-black"></i>
                <span *ngIf="isMenuOpen">Result</span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/reach-us']" [routerLinkActive]="['active-nav-item']" [routerLinkActiveOptions]="{exact: true}" role="main">
              <i *ngIf="isMenuOpen" class="fas fa-file-signature m-10 fa-md color-not-so-black"></i>
              <i *ngIf="!isMenuOpen" class="fas fa-file-signature m-10 fa-md color-not-so-black" matBadge="{{unreadReadUs}}" matBadgeColor="warn"></i>
              <span *ngIf="isMenuOpen" matBadge="{{unreadReadUs}}" matBadgeOverlap="false" matBadgeColor="warn">Reach Us</span>
            </mat-list-item>


            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">
      <i class="fas fa-book fa-md m-10 color-not-so-black"></i>
       <span *ngIf="isMenuOpen">Examination</span>
                </span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="(isExpanded || isShowing) && isMenuOpen" style="color: #b5b5b5">
                    expand_more
                </mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded && isMenuOpen">
                <a mat-list-item [routerLink]="['/examination-type']">Examination Types</a>
                <a mat-list-item [routerLink]="['/examination-detail']">Examination Detail</a>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin, 'transition': '300ms' }">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
