<div class="top-span">
    <div class="top" [ngClass]=" userStatus ? 'verified': 'unverified'">
        <mat-spinner [diameter]="40" *ngIf="isLoading"></mat-spinner>

        <div class="header" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutFap="10px" *ngIf="!isLoading">
            <div class="img-div m-auto" fxFlex="18" fxFlex.sm="25" fxFlex.xs="100">
                <i class="far fa-edit edit-icon fa-lg" (click)="openDialog()"></i>
                <img src="{{apiEndpoint + imageUrl}}" height="240" width="180">
            </div>
            <div class="header-content-1 mat-subheading-2" fxFlex="70" fxFlex.sm="75" fxFlex.xs="100">

                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutFap="10px">
                    <div fxFlex="20" class="w-full">
                        <p class="mat-display-1">
                            {{firstName+' '+middleName}}
                        </p>
                    </div>
                    <div fxFlex="80" style="width: 100%;">
                        <div fXLayout="row" fxLayout.sm="row" fxLayout.xs="column">
                            <div fxFlex="100" fxFlex.xs="100">
                                <p class="mat-subheading-2">
                                    <i class="fas  fa-envelope fa-md"></i> {{email}}
                                </p>
                                <p class="mat-subheading-2">
                                    <i class="fas fa-phone-alt fa-md"></i> {{studentPN}}
                                </p>
                            </div>
                            <div fxFlex="50" fxFlex.xs="100">
                                <p class="mat-subheading-2">
                                    <i class="fas fa-map-marker-alt fa-md"></i> {{address}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>