.top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.verified {
    background-color: rgba(162, 214, 249, 0.25);
}

.unverified {
    background-color: rgba(249, 162, 162, 0.25);
}

.top-span {
    height: 350px !important;
    width: 100%;
}

.header {
    margin-top: 75px;
    width: 100%;
    padding: 0px 100px 0 100px;
    img {
        aspect-ratio: 4/3;
        display: block;
        object-fit: cover;
        border-radius: 10px;
        border: 3px solid white;
    }
    .header-content-1,
    .header-content-2 {
        margin: 15px 15px 0 25px;
        p {
            margin: 0 !important;
            padding: 5px 0;
        }
    }
    .img-div {
        position: relative;
        width: fit-content;
        .edit-icon {
            position: absolute;
            top: -5px;
            right: -15px;
            color: #4d4f52;
        }
        img {
            display: block;
            margin-left: auto;
        }
        i {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 960px) {
    .header {
        padding: 0px 25px 0 25px;
    }
}

@media only screen and (max-width: 600px) {
    .top {
        height: 200px;
    }
    .header {
        margin-top: 55px;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .img-div {
        position: relative;
        width: 160px;
        margin: 0 auto;
        img {
            width: 160px;
        }
        .edit-icon {
            top: 0;
            right: -5px;
            cursor: pointer;
        }
    }
    .m-auto {
        text-align: center;
    }
    .w-full {
        width: 100%;
    }
}