<div class="header">
    <h1 class="mat-subheading-2">Edit Course</h1>
    <mat-icon (click)="closeDialog()">close</mat-icon>
</div>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<!-- <form [formGroup]="editForm" *ngIf="data.examinationType" class="pt-20"
    (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" style="width: 100% !important;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <button type="submit" mat-flat-button color="accent">
        {{this.data.mode === 'edit' ? 'Update' : 'Add'}}
    </button>
</form> -->

<div class="container">
  <form [formGroup]="editForm" *ngIf="data.examinationType" class="pt-20" (ngSubmit)="onSubmit()">
    <div class="wrapper">
      <div fxFlex="35" class="label">
        <mat-label>Name : </mat-label>
      </div>
      <div fxFlex="65" class="input">
        <mat-form-field appearance="standard">
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
    </div>
    <div class="wrapper">
      <div fxFlex="35" class="label">
        <mat-label>Status : </mat-label>
      </div>
      <div fxFlex="65">
        <mat-slide-toggle formControlName="isActive" color="primary" class="side-toggle">
        </mat-slide-toggle>
      </div>
    </div>

    <button type="submit" mat-flat-button color="accent">
      {{this.data.mode === 'edit' ? 'Update' : 'Add'}}
    </button>
  </form>
</div>
