@import '~@angular/material/theming';
@import "./theme/theme.scss";

// font awesone
@import '@fortawesome/fontawesome-free/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

@include mat-core();
$custom-typography: mat-typography-config($font-family: '"Archivo", sans-serif;');

@include mat-core($custom-typography);
$sharp-primary: mat-palette($blue-palette);
$sharp-accent: mat-palette($yellow-palette);
$sharp-warn: mat-palette($mat-red);

$sharp-theme: mat-light-theme((
  color: (
    primary: $sharp-primary,
    accent: $sharp-accent,
    warn: $sharp-warn
  )
));

@include angular-material-theme($sharp-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

///SCROLLBAR
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fca311;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0a4191;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0a4191;
}

// Spinner center
.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-top: 20px;
}

//center header cell with sort
.mat-sort-header-container {
  display: flex;
  justify-content: center;
}
