<!-- Loading Animation -->
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div class="container">

  <!-- Filter Division -->
  <div class="filter-div">
    <div>
      <mat-form-field appearance="standard" class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filterlist..." #input>
      </mat-form-field>
    </div>
  </div>

  <!-- Table -->
  <div class="mat-elevation-z8" *ngIf="!isLoading">
    <!--<table mat-table [dataSource]="dataSource">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>-->
    <!-- Name Column -->
    <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{bgColor: !element.isRead}">
            {{element.name}}
        </td>
    </ng-container>-->
    <!-- Email Column -->
    <!--<ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{bgColor: !element.isRead}">
            {{element.email}} </td>
    </ng-container>-->
    <!-- Message Column -->
    <!--<ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{bgColor: !element.isRead}">
            {{element.truncatedMsg}} </td>
    </ng-container>-->
    <!-- Created At Column -->
    <!--<ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef> Created At </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{bgColor: !element.isRead}">
                            {{element.createdAt}} </td>
                    </ng-container>

                </mat-expansion-panel-header>


                <p>Test TestTestTestTest </p>
            </mat-expansion-panel>
        </mat-accordion>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>-->
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="message-expanded mat-subheading-2">
              {{element.message}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="row" [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element; messageRead(expandedElement)"
          [ngClass]="{bgColor: !element.isRead}">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <!-- Paginator -->
    <mat-paginator [length]="count" [pageSizeOptions]="pageSizeOptions" [pageSize]="reachUsPerPage" showFirstLastButtons (page)="onChangedPage($event)">
    </mat-paginator>
  </div>
</div>
